name: Test Studio Agent
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  ai-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Appel de l'Agent Studio
        uses: nadescheemaeker/ai-core@main
        with:
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
